.mynav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 134;
}
@media (max-width: 769px) {
  .mynav .pull-left {
    float: none !important;
  }
}
.mynav .send-add {
  float: left;
  padding: 15px 10px;
}
@media (max-width: 770px) {
  .mynav .send-add.pc {
    display: none;
  }
}
.mynav .send-add.min {
  position: absolute;
  left: 7px;
  top: 1px;
}
@media (min-width: 770px) {
  .mynav .send-add.min {
    display: none;
  }
}
.city-btn {
  float: right;
  margin-right: 15px;
  padding-top: 16px;
  margin-bottom: 5px;
}
.city-btn button {
  border: 1px solid #ccc;
  position: relative;
  padding-left: 50px;
  background-color: #fff;
}
.city-btn button i {
  position: absolute;
  height: 100%;
  line-height: 1;
  border-radius: 0;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  text-align: center;
  margin: 0;
  width: 2.57142857em;
  background-color: rgba(0, 0, 0, 0.05);
  color: '';
  box-shadow: -1px 0 0 0 transparent inset;
  top: 0;
  left: 0;
  padding-top: 11px;
}
@media (max-width: 458px) {
  .city-btn {
    display: none;
  }
}
.home-link {
  padding: 100px 5px 30px;
  margin-top: 10px;
}
.home-link .lists {
  list-style: none;
}
.home-link .lists li {
  float: right;
}
.ltr .home-link .lists li {
  float: left;
}
.home-link .lists li .items {
  width: 110px;
  border: 1px solid #C70039;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 10px;
  color: #1439DF;
  transition: all .35s ease;
  font-weight: 600;
}
.home-link .lists li .items:hover {
  background-color: #C70039;
  transition: all .35s ease;
  color: #fff;
}
.home-right {
  margin-top: -5px;
  min-height: calc(100vh - 63px);
  background-color: #F2F2F2;
  padding: 50px 30px;
}
.search-right {
  padding: 5px;
  background-color: #fff;
}
.search-right .panel-heading {
  background-color: #F4F4F4;
}
.search-right .panel-body ul {
  list-style: none;
  padding: 0;
}
.search-right .panel-body ul li {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
}
.search-right .panel-body ul li:last-child {
  border-bottom: 0;
}
.search-right a {
  display: block;
}
.search-right h3 {
  border-bottom: 2px solid teal;
  padding-bottom: 10px;
  font-weight: 600;
}
.honary-gp select {
  width: 100%;
  text-align: right;
}
.honary-gp .select2-selection__rendered li {
  float: right !important;
}
.ltr .honary-gp .select2-selection__rendered li {
  float: left !important;
}
.honary-gp ul {
  list-style: none;
  padding: 0;
}
.honary-gp ul li {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
}
.honary-gp ul li:last-child {
  border-bottom: 0;
}
.honary-gp .metod li label {
  cursor: pointer;
}
.select2-dropdown {
  direction: rtl !important;
}
.ltr .select2-dropdown {
  direction: ltr !important;
}
.select2-search__field {
  text-align: right;
  direction: rtl !important;
}
.ltr .select2-search__field {
  text-align: left;
  direction: ltr !important;
}
.products form input {
  width: 66%;
}
.products .products-item {
  border: 1px solid #ccc;
  margin: 5px 0;
}
.products .products-item .item-img {
  margin: 5px;
}
.products .products-item strong {
  margin-bottom: 7px;
  display: block;
}
.lists-cat ul {
  list-style: none;
}
.lists-cat ul li {
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.lists-cat ul li a {
  display: block;
  padding: 15px 20px;
  font-size: 1.2em;
  color: #222;
}
.lists-cat ul li a:after {
  font-family: 'FontAwesome';
  content: "\f104";
  float: left;
  color: grey;
  display: none;
}
.lists-cat ul li a:hover {
  background-color: #F4F4F4;
}
.lists-cat ul li a:hover:after {
  display: block;
}
.first-row {
  border-bottom: 2px solid #737373;
  margin-bottom: 10px;
}
.first-row a {
  display: block;
  padding: 15px 20px;
  font-size: 1.3em;
  color: #222;
}
.first-row a span {
  border-right: 1px solid #ddd;
  padding-right: 10px;
}
.first-row a i {
  float: right;
  margin-left: 20px;
  font-size: 24px;
}
.first-row a:hover {
  background-color: #F4F4F4;
}
.category-selector {
  margin-bottom: 15px;
}
.category-selector a {
  display: block;
  padding: 25px 20px;
  font-size: 1.3em;
  background-color: #fff;
}
.category-selector a:hover {
  background-color: #F7F7F7;
}
.category-selector a span {
  color: #222;
}
.category-selector a strong {
  float: left;
  color: #900C3F;
}
.category-selector a strong:after {
  font-family: 'FontAwesome';
  content: "\f104";
  float: left;
  color: #900C3F;
  margin-right: 10px;
}
.ltr .category-selector a strong {
  float: right;
}
.ltr .category-selector a strong:after {
  float: right;
  content: "\f105";
  margin-right: 0px;
  margin-left: 10px;
}
.dz-hidden-input {
  left: auto !important;
  right: 0 !important;
}
.ltr .dz-hidden-input {
  left: 0 !important;
  right: auto !important;
}
.stepsbar {
  padding: 1em 0;
  width: 100%;
}
.stepsbar ol {
  overflow: hidden;
  margin: 0;
  padding: 1em 0;
  list-style: none;
  line-height: 1.2;
  font-size: 1em;
  counter-reset: li;
  animation: chase 1s 1 forwards;
  padding-right: 15%;
}
.ltr .stepsbar ol {
  padding-left: 15%;
  padding-right: 0;
}
.stepsbar li {
  float: right;
  display: inline;
  position: relative;
  counter-increment: li;
  width: 18%;
  text-align: center;
  color: #c4c4c4;
  transition: all 0.5s ease;
}
.ltr .stepsbar li {
  float: left;
}
.stepsbar li:before {
  content: counter(li);
  position: relative;
  background-color: #c4c4c4;
  color: #fff;
  width: 35px;
  padding: .5em;
  margin: 0 auto .5em;
  border-radius: 100%;
  font-size: 0.9em;
  text-align: center;
  display: block;
  z-index: 2;
  border: 1px solid #ababab;
  box-shadow: 0 0 2px 2px #fff;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-repeat: repeat;
  background-size: 20px 20px;
}
.stepsbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  display: block;
  background: #ccc;
  z-index: 1;
  top: 50%;
  right: 50%;
  margin-top: -1.2em;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  background-size: 20px 20px;
}
.ltr .stepsbar li:after {
  left: 50%;
  right: auto;
}
.stepsbar li:first-child.active:after {
  right: 50%;
  background-color: #A5E0DD;
}
.stepsbar li:last-child:after {
  display: none;
}
.stepsbar li.done {
  color: #8BC53F;
}
.stepsbar li.done:after {
  width: 120%;
  background-color: #57AED1;
  animation: progress 0.3s linear 10;
}
.stepsbar li.done:before {
  background-color: #8BC53F;
  border-color: #70a130;
  color: white;
}
.stepsbar li.active {
  width: 28%;
  font-weight: bold;
  color: #57AED1;
}
.stepsbar li.active:after {
  width: 80%;
  background-color: #A5E0DD;
}
.stepsbar li.active:before {
  background-color: #57AED1;
  border: 2px solid #fff;
  color: white;
  box-shadow: 0 0 0 2px #57AED1;
  animation: progress .5s linear infinite;
  animation-delay: 3s;
}
@keyframes chase {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}
@keyframes progress {
  to {
    background-position: 20px 0;
  }
}
.number-valid input {
  height: 3em;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#myTabContent {
  margin-bottom: 70px;
}
.carousel {
  direction: ltr !important;
}
.carousel * {
  direction: ltr !important;
}
.carousel .carousel-inner .item img {
  width: 100%;
}
.carousel .carousel-control {
  top: auto !important;
  font-size: 37px;
}
.perview {
  margin-top: 50px;
}
.perview .item-boxs {
  padding: 15px 6px;
  margin-top: 15px;
  background-color: #fff;
}
.perview .item-boxs .title {
  padding: 0 0 5px;
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
}
.perview .item-boxs .body-box {
  padding: 10px 0 5px;
}
.perview .item-boxs .body-box .time {
  margin-top: 15px;
  display: block;
}
.perview .item-boxs .body-box .time small {
  direction: ltr;
}
.edit {
  background-color: #fff;
  padding: 25px 15px;
  border: 1px solid #ddd;
}
.edit-img-box {
  position: relative;
}
.edit-img-box .del {
  position: absolute;
  top: 0;
  right: 0;
}
.edit-img-box .del i {
  font-size: 1.4em;
}
#upgrad table tbody tr td:last-child {
  width: 40%;
}
.my-qoqnos {
  border: 1px solid #868686;
  padding: 5px;
  margin-top: 30px;
}
.my-qoqnos .my-qoqnos-list ul {
  list-style: none;
  border-bottom: 1px solid #868686;
  margin: 0;
  padding: 0;
}
.my-qoqnos .my-qoqnos-list ul li {
  float: right;
  padding: 10px 20px;
}
.ltr .my-qoqnos .my-qoqnos-list ul li {
  float: left;
}
.my-qoqnos .my-qoqnos-list ul li a {
  color: #222222;
  font-weight: 500;
}
.my-qoqnos .my-qoqnos-list ul li.active {
  border-bottom: 2px solid #BA2020;
}
.my-qoqnos .my-qoqnos-list ul li.active a {
  font-weight: 700;
}
.my-qoqnos .my-qoqnos-body {
  padding: 15px;
}
.my-qoqnos .my-qoqnos-body .alerted {
  margin: 20px 30px;
}
.my-qoqnos .my-qoqnos-body .products .items {
  border: 1px solid #868686;
  margin: 5px 5px 0;
  position: relative;
}
.my-qoqnos .my-qoqnos-body .products .items strong {
  font-weight: 600;
  color: #222;
  font-size: 1em;
}
.my-qoqnos .my-qoqnos-body .products .items .bottom {
  position: absolute;
  top: 60px;
}
.my-qoqnos .my-qoqnos-body .products .items .bottom p {
  color: #222;
  font-size: .9em;
}
.my-qoqnos .my-qoqnos-body .products .items .bottom small {
  color: #A3A3A3;
  font-size: .8em;
}
.my-qoqnos .my-qoqnos-body .products .items-bottom {
  margin: 0 5px 5px;
  border-left: 1px solid #868686;
  border-right: 1px solid #868686;
  border-bottom: 1px solid #868686;
  padding: 5px;
}
.my-qoqnos .my-qoqnos-body .products .items-bottom .delete-btn {
  position: absolute;
  top: 0;
  left: 0;
}
.share-button {
  border: 2px solid #fff;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 178px;
  height: 40px;
  top: 17px;
  left: 50%;
  text-transform: uppercase;
  font-size: 14px;
  transform: translate(-50%, -50%);
}
.share-button.active {
  overflow: visible;
}
.share-button a {
  color: #000000;
  font-size: 12px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 26px;
  padding: 7px 13px 7px 13px;
}
.share-button > a:after {
  font-family: FontAwesome;
  font-size: 14px;
  color: #000000;
  content: "\f064";
  margin-left: 10px;
  float: right;
}
.share-button > a:hover {
  color: #3e5773;
}
.share-button > a:hover:after {
  color: #3e5773;
}
.share-button .icon-wrapper {
  background-color: #16A286;
  position: absolute;
  left: -286px;
  top: 0;
  width: 286px;
}
.share-button .icon-wrapper ul {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  height: 40px;
}
.share-button .icon-wrapper ul li {
  float: left;
  display: inline-block;
}
.share-button .icon-wrapper ul li a:hover {
  background: #158971;
  color: #FFF;
  border-color: #158971;
}
.share-button .icon-wrapper ul li a:hover i {
  color: #3e5773;
}
.share-button .icon-wrapper ul li a i {
  color: #000000;
  font-size: 14px;
}
.share-button .icon-wrapper ul li:last-child {
  float: right;
}
.share-button .icon-wrapper ul li:last-child a {
  background-color: red;
}
.share-button .icon-wrapper ul li:last-child a:hover i {
  color: #000000;
}
.share-button .icon-wrapper ul li:last-child a i {
  color: #000000;
  position: relative;
  left: 1px;
}
.share-button .icon-wrapper ul:after {
  clear: both;
}
.share-button .icon-wrapper > a {
  display: inline-block;
}
.share-button a.hidden {
  display: none;
}
.share-button.active .icon-wrapper {
  max-height: 40px;
}
.auth {
  position: relative;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1em;
  border-radius: 3px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  background-color: #FBFBFB;
  width: 400px;
  margin: 50px auto;
  display: table;
}
@media (max-width: 420px) {
  .auth {
    width: 320px;
  }
}
.auth .alert {
  box-shadow: 0 0 0 1px #C9BA9B inset, 0 0 0 0 transparent;
  background-color: #FFDACE;
  padding: 15px;
}
.auth .auth-form label {
  position: absolute;
  left: 13px;
  background-color: #E8E8E8;
  padding: .8em .833em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}
.auth .auth-form input {
  width: 88%;
  display: inline-block;
  direction: ltr;
  text-align: left;
}
/*** 

====================================================================
	Comments Area
====================================================================

 ***/
.comments-area {
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
  border-bottom: 1px solid #eeeeee;
}
.comments-area .group-title {
  position: relative;
  margin-bottom: 15px;
}
.comments-area .comment-box {
  position: relative;
  padding: 5px 5px 25px;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.comments-area .comment-box:nth-child(1) {
  padding-top: 0px;
}
.comments-area .comment-box:hover {
  border-color: #222222;
}
.comments-area .comment-box .author-thumb {
  position: absolute;
  right: 0px;
  top: 25px;
  margin-bottom: 20px;
}
.comments-area .comment-box .author-thumb img {
  width: 80px;
  display: block;
}
.comments-area .comment-box strong {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  line-height: 16px;
  text-transform: capitalize;
}
.comments-area .comment-box .text {
  color: rgba(19, 25, 45, 0.6);
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
  line-height: 1.8em;
}
.comments-area .comment-box .theme-btn {
  padding: 5px 30px;
  font-size: 12px;
  border: 1px solid #fbca00;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.comments-area .comment {
  position: relative;
  font-size: 14px;
  padding: 25px 110px 0px 0px;
  border-top: 1px solid #eeeeee;
}
.comments-area .comment .comment-inner {
  position: relative;
}
.comments-area .comment-info {
  color: #3e5773;
  line-height: 24px;
  font-size: 13px;
}
.comments-area .comment-info .comment-time {
  position: relative;
  font-size: 16px;
  color: #999999;
}
.comment-reply-box {
  padding-right: 100px;
  margin-bottom: 20px;
}
.store-full-baner {
  width: 100%;
  height: 350px;
  margin: 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.store-full-baner .shadow-bottom-to-top {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0) 30%, #505050 116%);
  z-index: 5;
}
.top-store-details {
  z-index: 20;
  position: relative;
}
.top-store-details .show-detial {
  display: table;
  width: 100%;
  margin-top: -150px;
}
@media (max-width: 480px) {
  .top-store-details .show-detial {
    margin-top: -54px;
  }
}
.top-store-details .show-detial figure {
  width: 240px;
  display: table-cell;
}
@media (max-width: 480px) {
  .top-store-details .show-detial figure {
    width: 100px;
  }
}
.top-store-details .show-detial figure img {
  width: 100%;
}
.top-store-details .show-detial .wrap {
  display: table-cell;
  position: relative;
  vertical-align: bottom;
}
.top-store-details .show-detial .wrap .content-wrap h4 {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
}
.top-store-details .show-detial .wrap .content-wrap h4 span {
  display: block;
  color: #F5F5F5;
  font-size: .7em;
  margin-bottom: 20px;
}
.top-store-details .show-detial .wrap .content-wrap .tel {
  color: #fff;
  font-size: 1.2em;
  margin-top: 30px;
}
@media (max-width: 480px) {
  .top-store-details .show-detial .wrap .content-wrap .tel {
    color: #000;
    margin-top: 0px;
    float: right !important;
    padding-right: 20px;
  }
}
.top-store-details .show-detial .wrap .bottom-dec {
  display: table;
  width: 100%;
  padding: 15px 30px;
}
@media (max-width: 480px) {
  .top-store-details .show-detial .wrap .bottom-dec {
    padding: 15px 20px;
  }
}
.top-store-details .show-detial .wrap .bottom-dec div {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 480px) {
  .top-store-details .show-detial .wrap .bottom-dec div {
    display: block;
    margin-top: 10px;
  }
}
.top-store-details .show-detial .wrap .bottom-dec .social-icons li {
  list-style: none;
  margin-right: 5px;
  display: inline-block;
}
.top-store-details .show-detial .wrap .bottom-dec .social-icons li a {
  font-size: 1.4em;
  color: #222;
}
.store-products .items {
  margin-top: 10px;
  border: 7px solid #EBEBEB;
  display: block;
  transition: all .2s ease;
}
.store-products .items:hover {
  border-color: #CBCBCB;
}
.store-products .items:hover .price {
  background-color: #CBCBCB;
}
.store-products .items h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}
.store-products .items .price {
  padding: 7px 10px;
  background-color: #EBEBEB;
}
@font-face {
  font-family: "myfont";
  src: url('../fonts/Yekan.eot?-wwn5ej');
  src: url('../fonts/Yekan.eot?#iefix-wwn5ej') format('embedded-opentype'), url('../fonts/Yekan.woff?-wwn5ej') format('woff'), url('../fonts/Yekan.ttf?-wwn5ej') format('truetype'), url('../fonts/Yekan.svg?-wwn5ej#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  direction: rtl;
  padding-top: 66px;
  background-color: #EEEEEE;
}
body.ltr {
  direction: ltr;
}
@media (max-width: 769px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 9px;
  }
}
