
/*** 

====================================================================
	Comments Area
====================================================================

 ***/
@color_1: #000000;
@color_2: #3e5773;
@color_3: rgba(19,25,45,0.60);
@color_4: #999999;
@border_color_1: #222222;

.comments-area {
	position: relative;
	margin-top: 70px;
	margin-bottom: 50px;
	border-bottom: 1px solid #eeeeee;
	.group-title {
		position: relative;
		margin-bottom: 15px;
	}
	.comment-box {
		position: relative;
		padding: 5px 5px 25px;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		transition: all 300ms ease;
		border: 1px solid #ccc;
		margin-top: 10px;
		&:nth-child(1) {
			padding-top: 0px;
		}
		&:hover {
			border-color: @border_color_1;
		}
		.author-thumb {
			position: absolute;
			right: 0px;
			top: 25px;
			margin-bottom: 20px;
			img {
				width: 80px;
				display: block;
			}
		}
		strong {
			font-size: 20px;
			font-weight: 700;
			color: @color_1;
			line-height: 16px;
			text-transform: capitalize;
		}
		.text {
			color: @color_3;
			font-size: 16px;
			margin-top: 8px;
			margin-bottom: 0px;
			line-height: 1.8em;
		}
		.theme-btn {
			padding: 5px 30px;
			font-size: 12px;
			border: 1px solid #fbca00;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.comment {
		position: relative;
		font-size: 14px;
		padding: 25px 110px 0px 0px;
		border-top: 1px solid #eeeeee;
		.comment-inner {
			position: relative;
		}
		
	}
	.comment-info {
		color: @color_2;
		line-height: 24px;
		font-size: 13px;
		.comment-time {
			position: relative;
			font-size: 16px;
			color: @color_4;
		}
	}
}
.comment-reply-box {
	padding-right: 100px;
	margin-bottom: 20px;
}


