

.edit {
	background-color: #fff;
	padding: 25px 15px;
	border: 1px solid #ddd
}

.edit-img-box {
	position: relative;

	.del {
		position: absolute;
		top: 0;
		right: 0;

		i {
			font-size: 1.4em
		}
	}
}