
@home-link-color :  #C70039;

.radius(@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  -webkit-border-radius: @radius;
}


.home-link {
	padding: 100px 5px 30px;
	// background-color: #fff;
	margin-top: 10px;
    


	.lists {
		list-style: none;

		li {
			float: right;
			.ltr & {
				float: left;
			}

			.items {
				width: 110px;
				border : 1px solid @home-link-color;
				.radius(5px); 
				margin: 10px;
				color: #1439DF;
				transition: all .35s ease;
				font-weight: 600;

				&:hover {
					background-color: @home-link-color;
					transition: all .35s ease;
					color: #fff;
				}
			}
		}
	}
}

.home-right {
	margin-top: -5px;
	min-height: ~"calc(100vh - 63px)";
	background-color: #F2F2F2;
	padding: 50px 30px;

}