
.my-qoqnos {
	
	border: 1px solid #868686;
	padding: 5px;
	margin-top: 30px;

	.my-qoqnos-list {
		
		ul {
			list-style: none;
			border-bottom: 1px solid #868686;
			margin: 0;
			padding: 0;

			li {
				float: right;
				.ltr & {
					float: left;
				}
				padding: 10px 20px;

				a {
					color: #222222;
					font-weight: 500;
				}

				&.active {
					border-bottom: 2px solid #BA2020;

					a {
						font-weight: 700;
					}
				}
			}
		}
	}

	.my-qoqnos-body {
		padding: 15px;

		.alerted {
			margin: 20px 30px;

		}

		.products {

			.items {
				border: 1px solid #868686;
				margin: 5px 5px 0;
				// padding: 5px;
				position: relative;

				strong {
					font-weight: 600;
					color: #222;
					font-size: 1em;

				}

				.bottom {
					position: absolute;
					top: 60px;

					p {
						color: #222;
						font-size: .9em;
					}
					small {
						color: #A3A3A3;
						font-size: .8em;
					}
				}
			}
			.items-bottom {
				margin:0 5px 5px;
				border-left: 1px solid #868686;
				border-right: 1px solid #868686;
				border-bottom: 1px solid #868686;
				padding: 5px;

				.delete-btn {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}