
.mynav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 134;

	.pull-left {
		@media (max-width: 769px){
			float: none !important;
		}
	}

	.send-add {
		float: left;
		padding: 15px 10px;

		&.pc {
			@media (max-width: 770px) {
				display: none;
			}
		}
		&.min {
			@media (min-width: 770px) {
				display: none;
			}
			position: absolute;
			left: 7px;
			top: 1px;
		}
	}
}


.city-btn {
	float: right;
    margin-right: 15px;
    padding-top: 16px;
    margin-bottom: 5px;

	button { 
		border : 1px solid #ccc;
		position: relative;
	    padding-left: 50px;
	    background-color: #fff;

		i {
			position: absolute;
		    height: 100%;
		    line-height: 1;
		    border-radius: 0;
		    border-top-left-radius: inherit;
		    border-bottom-left-radius: inherit;
		    text-align: center;
		    margin: 0;
		    width: 2.57142857em;
		    background-color: rgba(0,0,0,.05);
		    color: '';
		    box-shadow: -1px 0 0 0 transparent inset;
		    top: 0;
		    left: 0;
		    padding-top: 11px;
		}
	}

	@media (max-width: 458px) {
		display: none;
	}
}