

.lists-cat {

	ul {
		list-style: none;

		li {
			
			text-align: right;
			border-bottom: 1px solid #ddd;

			a {
				display: block;
				padding: 15px 20px;
				font-size: 1.2em;
				color: #222;
				
				&:after {
					font-family: 'FontAwesome'; 
				    content: "\f104";    
				    float: left;       
				    color: grey;
				    display: none;
				}
				&:hover {
					background-color: #F4F4F4;

					&:after { display: block; }
				}
			}
		}
	}
}

.first-row {
	border-bottom: 2px solid #737373;
	margin-bottom: 10px;
	a {
		display: block;
		padding: 15px 20px;
		font-size: 1.3em;
		color: #222;
		span {
			border-right: 1px solid #ddd;
			padding-right: 10px;
		}
		i {
			float: right;
			margin-left: 20px;
			font-size: 24px;
		}

		&:hover {
			background-color: #F4F4F4;
		}
	}
}

.category-selector {
	margin-bottom: 15px;
	a {
		display: block;
		padding: 25px 20px;
		font-size: 1.3em;
		background-color: #fff;

		&:hover {
			background-color: #F7F7F7;
		}

		span {
			color: #222;

		}

		strong {
			float: left;
			color: #900C3F;
			&:after {
				font-family: 'FontAwesome'; 
			    content: "\f104";    
			    float: left;       
			    color: #900C3F;
			    margin-right: 10px;
			}
			.ltr & {
				float: right;

				&:after {
					float: right;
					content: "\f105";
					margin-right: 0px;
					margin-left: 10px;
				}
			}
		}
	}
}
