
#myTabContent { margin-bottom: 70px; }

.carousel {
	direction: ltr !important;
	& * {
		direction: ltr !important;
	}

	.carousel-inner {

		.item {
			img {
				width: 100%;
			}
		}
	}
	.carousel-control {
		top: auto !important;
		font-size: 37px;
	}

}

.perview {
	margin-top: 50px;
	
	.item-boxs {
		padding: 15px 6px;
		margin-top: 15px;
		background-color: #fff;

		.title {
			padding: 0 0 5px;
			font-size: 1.2em;
			border-bottom: 1px solid #ddd;
		}
		.body-box {
			padding: 10px 0 5px;

			.time {
				margin-top: 15px;
				display: block;
				small {
					direction: ltr;
				}
			}
		}
	}
}