
.products {

	form {
		input {

			width: 66%
		}
	}

	.products-item {
		border: 1px solid #ccc;

		.item-img {
			margin: 5px;
		}
		margin: 5px 0;

		strong {
			margin-bottom: 7px;
			display: block;
		}
	}
}