
.search-right {
	// background-color: #ddd;
	padding: 5px;
	background-color: #fff;
	.panel-heading{
		background-color: #F4F4F4;
	}
	.panel-body {

		ul {
			list-style: none;
			padding: 0;

			li {

				padding: 5px 10px;
				border-bottom: 1px solid #ccc;
				margin-top: 5px;

				&:last-child {
					border-bottom: 0;
				}
				
			}
		}
	}
	a {
		display: block;
	}
	h3 {
		border-bottom: 2px solid teal;
		padding-bottom: 10px;
		font-weight: 600;
	}
}

.honary-gp {
	select {
		width: 100%;
		text-align: right;
	}

	.select2-selection__rendered {

		li {
			float: right !important;

			.ltr & {
				float: left !important;
			}
		}
	}
	ul {
		list-style: none;
		padding: 0;

		li {

			padding: 5px 10px;
			border-bottom: 1px solid #ccc;
			margin-top: 5px;

			&:last-child {
				border-bottom: 0;
			}
			
		}
	}
	.metod li label { cursor: pointer; }
}

.select2-dropdown  {
	direction: rtl !important;

	.ltr & {
		direction: ltr !important;
	}
}
.select2-search__field {
	text-align: right;
	direction: rtl !important;

	.ltr & {
		text-align: left;
		direction: ltr !important;
	}
}