@color_1: #fff;
@color_2: #e4e9ea;
@color_3: #fff;
@color_4: #2d3847;
@font_family_1: FontAwesome;
@background_color_1: red;
.share-button {
    text-transform: uppercase;
    border: 2px solid #fff;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    width: 178px;
    height: 40px;
    top: 17px;
    left: 50%;
    text-transform: uppercase;
    font-size: 14px;
    transform: translate(-50%, -50%);
    &.active {
        overflow: visible;
    }
    a {
        color: @color_1;
        font-size: 12px;
        display: block;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 26px;
        padding: 7px 13px 7px 13px;
    }
    >a {
        &:after {
            font-family: @font_family_1;
            font-size: 14px;
            color: @color_1;
            content: "\f064";
            margin-left: 10px;
            float: right;
        }
        &:hover {
            color: @color_2;
            &:after {
                color: @color_2;
            }
        }
    }
    .icon-wrapper {
        background-color: #16A286;
        ul {
            li {
                a {
                    &:hover {
                            background: #158971;
                            color: #FFF;
                            border-color: #158971;
                        i {
                            color: @color_2;
                        }
                    }
                    i {
                        color: @color_1;
                        font-size: 14px;
                    }
                }
                &:last-child {
                    a {
                        &:hover {
                            i {
                                color: @color_1;
                            }
                        }
                        background-color: @background_color_1;
                        i {
                            color: @color_1;
                            position: relative;
                            left: 1px;
                        }
                    }
                    float: right;
                }
                float: left;
                display: inline-block;
            }
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            height: 40px;
            &:after {
                clear: both;
            }
        }
        position: absolute;
        left: -286px;
        top: 0;
        width: 286px;
        >a {
            display: inline-block;
        }
    }
    a.hidden {
        display: none;
    }
}
.share-button.active {
    .icon-wrapper {
        max-height: 40px;
    }
}