@gray: #c4c4c4;
@blue: #57AED1;
@green: #8BC53F;
.stepsbar {
  padding: 1em 0;
  width: 100%;
  
  ol {
    overflow: hidden;
    margin: 0;
    padding: 1em 0;
    list-style: none;
    line-height: 1.2;
    font-size: 1em;
    counter-reset: li;
    animation: chase 1s 1 forwards;

    padding-right: 15%;

    .ltr & {
      padding-left: 15%;
      padding-right: 0;
    }

  }
  
  li {

    float: right;
    .ltr & {
      float: left;
    }
    display: inline;
    position: relative;
    counter-increment: li;
    width: 18%;
    text-align: center;
    color: @gray;
    transition: all 0.5s ease;
    
    &:before {
      content: counter(li);
      position: relative;
      background-color: @gray;
      color: #fff;
      width: 35px;
      padding: .5em;
      margin: 0 auto .5em;
      border-radius: 100%;
      font-size: 0.9em;
      text-align: center;
      display: block;
      z-index: 2;
      border: 1px solid darken(@gray, 10%);
      box-shadow:0 0 2px 2px #fff;
      
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      
      background-repeat: repeat;
      background-size: 20px 20px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      display: block;
      background: #ccc;
      z-index: 1;
      top: 50%;
      right: 50%;
      .ltr & {
        left: 50%;
        right: auto;
      }
      margin-top: -1.2em;
      
            background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      
      background-repeat: repeat-x;
      background-size: 20px 20px;
      
    }
    &:first-child {
      &.active {
        &:after { right: 50%;    background-color: #A5E0DD;}
      }
    }
    
    &:last-child {
      &:after {
        display: none;
      }
    }
    
    &.done {
      color: @green;
      &:after { 
        width: 120%;
        background-color: @blue;
       animation: progress 0.3s linear 10;
      }
      &:before {
        background-color: @green;
        border-color: darken(@green, 10%);
        color: white;
      }
    }
    
    &.active {
      width: 28%;
      font-weight: bold;
      color: @blue;
      &:after { width: 80%;background-color: #A5E0DD;}
      &:before {
        background-color: @blue;
        border: 2px solid #fff;//darken(@blue, 10%);
        color: white;
        box-shadow: 0 0 0 2px @blue;
        animation: progress .5s linear infinite;
        animation-delay: 3s;
      }
    }
  }
  
} // .progress-bar

@keyframes chase {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  to {background-position: 20px 0;}
}

