// *********************
//
//------ css for store pages
//
//***********************

.store-full-baner {
	width: 100%;
	height: 350px;
	margin: 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;

	.shadow-bottom-to-top {
		position: absolute;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    top: 0%;
	    background: linear-gradient(rgba(0, 0, 0, 0) 30%, #505050 116%);
	    z-index: 5;
	}

}
.top-store-details {
	z-index: 20;
	position: relative;

	.show-detial {
		display: table;
    	width: 100%;
    	margin-top: -150px;
    	@media (max-width: 480px) {
    		margin-top: -54px;
    	}

		figure {
			width: 240px;
			display: table-cell;

			@media (max-width: 480px) {
				width: 100px;
			}

			img {
				width: 100%;
			}
		}
		
		.wrap {
			display: table-cell;
		    position: relative;
		    vertical-align: bottom;

		    .content-wrap {
		    	h4 {
		    		font-size: 1.5em;
		    		font-weight: 600;
		    		color: #fff;

		    		span {
		    			display: block;
		    			color: #F5F5F5;
		    			font-size: .7em;
		    			margin-bottom: 20px; 
		    		}
		    	}
		    	.tel {
		    		color: #fff;
		    		font-size: 1.2em;
		    		margin-top: 30px;

		    		@media (max-width: 480px) {
		    			color: #000;
		    			margin-top: 0px;
					    float: right !important;
					    padding-right: 20px;
		    		}
		    	}
		    }

		    .bottom-dec {
	    	    display: table;
			    width: 100%;
			    // background-color: #e6e6e6;
			    padding: 15px 30px;
			    @media (max-width: 480px) {
			    	padding: 15px 20px;
			    }


			    div {
		    	    display: table-cell;
    				vertical-align: middle;

    				@media (max-width: 480px) {
    					display: block;
    					margin-top: 10px;
    				}
			    }
			    .social-icons {

			    	li{
			    		list-style: none;
		    		    margin-right: 5px;
    					display: inline-block;

    					a {
    						font-size: 1.4em;
    						color: #222;
    					}
			    	}
			    }
		    }
		}
	}
}

.store-products {
	.items {
		margin-top: 10px;
		border: 7px solid #EBEBEB;
		display: block;
		transition: all .2s ease;

		&:hover {
			border-color: #CBCBCB;
			.price {
				background-color: #CBCBCB;
			}
		}

		h4 {
			overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    width: 100%;
		    display: block;
		}

		.price {
			padding: 7px 10px;
			background-color: #EBEBEB;
		}
	}
}