

   // header in Exports page 
   //
   //
   //
   //***********************


.app-header {
	display: block;
	width: 100%;
	height: 70px;
	background-color: #E5E5E5;
	-webkit-box-shadow: 2px 10px 43px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 10px 43px -13px rgba(0,0,0,0.75);
	box-shadow: 2px 10px 43px -13px rgba(0,0,0,0.75);	
}