 
 // main in Exports page 
   //
   //
   //
   //***********************


.app-main {

	width: ~"calc(100% - 310px)";
	margin-right: 306px;


	.products {

			.items {
				border: 1px solid #868686;
				margin: 5px 5px 0;
				// padding: 5px;
				position: relative;

				strong {
					font-weight: 600;
					color: #222;
					font-size: 1em;

				}

				.bottom {
					position: absolute;
					top: 60px;

					p {
						color: #222;
						font-size: .9em;
					}
					small {
						color: #A3A3A3;
						font-size: .8em;
					}
				}
			}
			.items-bottom {
				margin:0 5px 5px;
				border-left: 1px solid #868686;
				border-right: 1px solid #868686;
				border-bottom: 1px solid #868686;
				padding: 5px;

				.delete-btn {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}

}







.carousel {
	direction: ltr !important;
	& * {
		direction: ltr !important;
	}

	.carousel-inner {

		.item {
			img {
				width: 100%;
			}
		}
	}
	.carousel-control {
		top: auto !important;
		font-size: 37px;
	}

}
