
   // Sidbar in Exports page 
   //
   //
   //
   //***********************



.sidbar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	left: auto;
	width: 300px;
	height: 100%;
	min-height: 100%;
	background-color: #DCDCDC;
	-webkit-box-shadow: -5px 4px 42px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 4px 42px -12px rgba(0,0,0,0.75);
	box-shadow: -5px 4px 42px -12px rgba(0,0,0,0.75);	


	.sidbar-head {
		background-image: url('../../img/avatar/4.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		width: 100%;
		height: 200px;

		.expert-avatar {
			width: 75px;
			height: 75px;
			margin: auto;
			border-radius: 50%;
			display: block;
			img {
				padding-top: 60px;
			}
		}
		.expert-name {
			display: block;
			margin-top: 75px;
			text-align: center;

			strong {
				color: #ffffff;
				font-size: 1.3em;
			}
		}
	}	

	.sidbar-body {
		padding-top: 20px;

		ul {
			padding: 0;

			li {
				list-style: none;
				display: block;
				border-bottom: 1px solid #ccc;

				a {
					padding: 8px 10px;
					display: block;
					font-size: 1.2em;
					color: #000;

					&:after {
						font-family: 'FontAwesome'; 
					    content: "\f104";    
					    float: left;       
					    color: grey;
					    display: none;
					}
					&:hover ,&.active {
						background-color: #F4F4F4;

						&:after { display: block; }
					}
				}
			}
		}
	}
}  