 
@import 'less/nav.less';
@import 'less/home.less';
@import 'less/search.less';
@import 'less/products.less';
@import 'less/new-add.less';
@import 'less/ads-filds.less';
@import 'less/stepsbar.less';
@import 'less/number-valid.less';
@import 'less/perview.less';
@import 'less/edit.less';
@import 'less/upgrad.less';
@import 'less/my-qoqnos.less';
@import 'less/share-button.less';
@import 'less/auth.less';
@import 'less/comments.less';
@import 'less/store.less';



@font-face {
    font-family: "myfont";
        src: url('../../fonts/Yekan.eot?-wwn5ej');
		src: url('../../fonts/Yekan.eot?#iefix-wwn5ej') format('embedded-opentype'),
		url('../../fonts/Yekan.woff?-wwn5ej') format('woff'),
		url('../../fonts/Yekan.ttf?-wwn5ej') format('truetype'),
		url('../../fonts/Yekan.svg?-wwn5ej#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
                
    // font-style: normal; 
}


body{
	font-size: 14px;
	direction: rtl;
	padding-top: 66px;
	background-color: #EEEEEE;
	&.ltr {
		direction: ltr;
	}

}



@import 'less/responsive-font-size.less';



