
@import 'less/sidbar.less';
@import 'less/header.less';	
@import 'less/main.less';	







@font-face {
    font-family: "myfont";
        src: url('../../fonts/Yekan.eot?-wwn5ej');
		src: url('../../fonts/Yekan.eot?#iefix-wwn5ej') format('embedded-opentype'),
		url('../../fonts/Yekan.woff?-wwn5ej') format('woff'),
		url('../../fonts/Yekan.ttf?-wwn5ej') format('truetype'),
		url('../../fonts/Yekan.svg?-wwn5ej#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
                
    // font-style: normal; 
}


body{
	font-size: 14px;
	direction: rtl;
	background-color: #EEEEEE;
	&.ltr {
		direction: ltr;
	}

}

@import '../less/responsive-font-size.less';