.sidbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  left: auto;
  width: 300px;
  height: 100%;
  min-height: 100%;
  background-color: #DCDCDC;
  -webkit-box-shadow: -5px 4px 42px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 4px 42px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 4px 42px -12px rgba(0, 0, 0, 0.75);
}
.sidbar .sidbar-head {
  background-image: url('../../img/avatar/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.sidbar .sidbar-head .expert-avatar {
  width: 75px;
  height: 75px;
  margin: auto;
  border-radius: 50%;
  display: block;
}
.sidbar .sidbar-head .expert-avatar img {
  padding-top: 60px;
}
.sidbar .sidbar-head .expert-name {
  display: block;
  margin-top: 75px;
  text-align: center;
}
.sidbar .sidbar-head .expert-name strong {
  color: #ffffff;
  font-size: 1.3em;
}
.sidbar .sidbar-body {
  padding-top: 20px;
}
.sidbar .sidbar-body ul {
  padding: 0;
}
.sidbar .sidbar-body ul li {
  list-style: none;
  display: block;
  border-bottom: 1px solid #ccc;
}
.sidbar .sidbar-body ul li a {
  padding: 8px 10px;
  display: block;
  font-size: 1.2em;
  color: #000;
}
.sidbar .sidbar-body ul li a:after {
  font-family: 'FontAwesome';
  content: "\f104";
  float: left;
  color: grey;
  display: none;
}
.sidbar .sidbar-body ul li a:hover,
.sidbar .sidbar-body ul li a.active {
  background-color: #F4F4F4;
}
.sidbar .sidbar-body ul li a:hover:after,
.sidbar .sidbar-body ul li a.active:after {
  display: block;
}
.app-header {
  display: block;
  width: 100%;
  height: 70px;
  background-color: #E5E5E5;
  -webkit-box-shadow: 2px 10px 43px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 10px 43px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 10px 43px -13px rgba(0, 0, 0, 0.75);
}
.app-main {
  width: calc(100% - 310px);
  margin-right: 306px;
}
.app-main .products .items {
  border: 1px solid #868686;
  margin: 5px 5px 0;
  position: relative;
}
.app-main .products .items strong {
  font-weight: 600;
  color: #222;
  font-size: 1em;
}
.app-main .products .items .bottom {
  position: absolute;
  top: 60px;
}
.app-main .products .items .bottom p {
  color: #222;
  font-size: .9em;
}
.app-main .products .items .bottom small {
  color: #A3A3A3;
  font-size: .8em;
}
.app-main .products .items-bottom {
  margin: 0 5px 5px;
  border-left: 1px solid #868686;
  border-right: 1px solid #868686;
  border-bottom: 1px solid #868686;
  padding: 5px;
}
.app-main .products .items-bottom .delete-btn {
  position: absolute;
  top: 0;
  left: 0;
}
.carousel {
  direction: ltr !important;
}
.carousel * {
  direction: ltr !important;
}
.carousel .carousel-inner .item img {
  width: 100%;
}
.carousel .carousel-control {
  top: auto !important;
  font-size: 37px;
}
@font-face {
  font-family: "myfont";
  src: url('../../fonts/Yekan.eot?-wwn5ej');
  src: url('../../fonts/Yekan.eot?#iefix-wwn5ej') format('embedded-opentype'), url('../../fonts/Yekan.woff?-wwn5ej') format('woff'), url('../../fonts/Yekan.ttf?-wwn5ej') format('truetype'), url('../../fonts/Yekan.svg?-wwn5ej#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  direction: rtl;
  background-color: #EEEEEE;
}
body.ltr {
  direction: ltr;
}
@media (max-width: 769px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 9px;
  }
}
